body {background: yellow;}
body >.a,font {color:red;}
body >.b,font {color:red;}
body >.c,font {color:red;}
body >.d,font {color:red;}
body >.e,font {color:red;}
body >.f,font {color:red;}
body >.g,font {color:red;}
body >.h,font {color:red;}
body >.i,font {color:red;}
body >.j,font {color:red;}
