body {background: yellow;}
body .a {color:red;}
body .b {color:red;}
body .c {color:red;}
body .d {color:red;}
body .e {color:red;}
body .f {color:red;}
body .g {color:red;}
body .h {color:red;}
body .i {color:red;}
body .j {color:red;}
